<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LogFilePath" value="C:\Users\basti\OneDrive\Documents\Bastien\ESILV\Capfi\Groupama AM\KatasTribu\RomanNumerals\Logs\{0}.log"/>
  </appSettings>
  <connectionStrings>
    <add name="RomanNumerals.RomanNumeralsConnectionString" 
         connectionString="Data Source=DAM;Initial Catalog=RomanNumerals;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>